[submodule "MKPITS_COREJAVA_SANKET_MOHOD"]
	path = MKPITS_COREJAVA_SANKET_MOHOD
	url = https://github.com/sanketmohod/MKPITS_COREJAVA_SANKET_MOHOD.git
[submodule "Java_Project"]
	path = Java_Project
	url = https://github.com/sanketmohod/Java_Project.git
