#matrix {
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid red; */
  width: 600px;
  margin-left: 470px;
  margin-top: 10px;
  justify-content: center;
}

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15%;
  margin: 3px;
}
.cell:hover {
  scale: 1.1;
}
#btn {
  /* border: 1px solid red; */
  width: 80px;
  height: 40px;
  margin-left: 480px;
  margin-top: 15px;
}
button {
  height: 35px;
  width: 75px;
  border-radius: 12%;
}

/* -------------------timer setter--------------- */
#timer {
  font-size: 24px;
  font-family: Arial, sans-serif;
  text-align: center;
  /* border: 1px solid red; */
  margin-top: 0px;
  width: 100px;
  height: 30px;
}
.timer {
  /* border: 1px solid red; */
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
#texttimer {
  /* border: 1px solid green; */
  margin-left: 7px;
  height: 30px;
  width: 5%;
  font-size: 24px;
  text-align: center;
}
